.section-header {
   display: flex;
   align-items: center;
   gap: 20px;
   color: var(--color-font);
   padding: 1.25rem 0;
}

.section-header h1 {
   font-family: 'Thestral';
   margin: 0;
   font-size: 2rem;
}

.section {
   padding-bottom: 13vh;
}

.sub-section-header {
   display: flex;
   gap: 15px;
   /* justify-content: space-between; */
   margin-bottom: 6px;
   align-items: flex-end;
}

.sub-section-header img {
   cursor: pointer;
   -webkit-touch-callout: none; /* iOS Safari */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Old versions of Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
   user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.sub-rhs {
   display: flex;
   align-items: center;
}

   
.runes-wrapper .misc img {
   filter: saturate(1);
   opacity: 1;
   display: inline-block;
   width: 19px;
   margin-right: 9px;
   margin-bottom: 3px;
}

.misc {
   margin-bottom: 0px;
}

.misc div {
   display: inline-block;
}

.misc h3 {
   font-size: 0.80rem;
   font-weight: normal;
   color: var(--color-font);
   margin: 0;
}

.misc h3:last-child {
   font-size: 0.70rem;
   color: var(--color-font-faded);
}

.sub-section-header .title {
   font-family: var(--header-font);
   font-weight: bold;
   margin: 0;
   font-size: 1.4rem;
   line-height: 1.4rem;
   color: var(--color-font);
}
.sub-section-header a {
   text-decoration: none;
   transition: 0.15s ease-in-out;
   border-radius: 3px;
   cursor: pointer;
}
.sub-section-header a:hover {
   color: var(--color-font-focus);
}
